@model IEnumerable<MembersDto>
@{
    int srNo = 0;
}
 <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Sr No.</th> 
                <th>Name</th>
                <th>Phone Number</th>
                <th>Joining Date</th>
                <th>Status</th>
                <th>End Date</th>
            </tr> 
        </thead>
        <tbody>
            @if(Model.Count() != 0)
            {
                @foreach (var member in Model)
                {
                    <tr>
                        <td>@srNo + 1</td>
                        <td>@member.Name</td>
                        <td>@member.PhoneNo</td>
                        <td>@member.DOJ</td>
                        <td>@member.MembershipStatus</td>
                        <td>@member.MembershipEndDate</td>
                    </tr>
                }
            }
            else
            {
            <tr>
                <td colspan="6">No Records Found</td>
            </tr>
            }
           
        </tbody>
    </table>